<%= semantic_form_for @project, :html=>{:role=>'form',:class=>"form"} do |f| %>
	<%= f.inputs do %>
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">Project Basic Information</div>
	
			<div class="panel-body">
				<div class="form-group">
				   <%= f.input :name,:input_html=>{:class=>'form-control',:placeholder=>"Enter your project name"} %>
				</div>
				<div class="form-group"> 
				   <%= f.input :description,:input_html=>{:class=>'form-control',:placeholder=>"Describe your project",:rows=>"4"} %>
				</div>	
				<div class="form-group">
				   <%= f.input :location,:hint=>"Example: 325 Grand River Ave, East Lansing, MI 48864, USA", :input_html=>{:class=>'form-control',:placeholder=>"Enter project location"} %>
				</div>	
				<div class="form-group">
					<%= f.input :latitude,:input_html => { :readonly => true, :class=>'form-control'} %>
				</div>	
				<div class="form-group">
					<%= f.input :longitude,:input_html => { :readonly => true, :class=>'form-control' } %>
				</div>	
				<div class="form-group">
					<%= image_tag @project.image.url(:thumb), :width=>"100px" if @project.image.exists? %>
				  <%= f.input :image, :as => :file %>
				</div>
				<!--<div class="form-group">
					<%#= f.input :start_date,:as=>:date_select,:input_html=>{:class=>'form-control'} %> 
				</div>	
				<div class="form-group">
					<%#= f.input :end_date,:as=>:date_select,:input_html=>{:class=>'form-control'}  %> 
				</div>	
				<div class="form-group">
					<%#= f.input :start_time, :as=>:time_select,:input_html=>{:class=>'form-control'} %> 
				</div>	
				<div class="form-group">
					<%#= f.input :end_time, :as=>:time_select,:input_html=>{:class=>'form-control'} %>
				</div>-->	
				<div class="form-group">
					<%= f.input :is_open,:input_html=>{:class=>'form-control'} %>
				</div>		
				<div class="form-group">
					<%= f.input :disclaimer,:input_html=>{:class=>'form-control',:placeholder=>"Enter your disclaimer",:rows=>"3"} %>
				</div>
				<div class="form-group">
					<%= f.input :directions_to_collaborators, :input_html=>{:class=>'form-control', :rows=>5} %>
				</div>
			</div>
		</div>
		
			<% i = 0 %>
			<%= f.semantic_fields_for :custom_fields do |c, index| %>
			<% i += 1 %>
				<div class="panel panel-default">
					<div class="panel-heading">Custom Field: <%= i %></div>
					<div class="panel-body">
						<div class="form-group">
							<%= c.input :label,:input_html=>{:class=>'form-control'} %>
							<%= c.input :value,:input_html=>{:class=>'form-control'} %>
						</div>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
	
	<div class="row">
	  <%= f.actions do %>
			<ul class="list-inline">
				<li><%= f.action :submit, :as => :button, :button_html => {:class=>"btn btn-primary"} %></li>
		    <li><%= f.action :cancel, :as => :link %></li>
			</ul>
	  <% end %>
	</div>
<% end %>